.板块列表{
    height: 100%;
    min-height: 500px;
    overflow: clip;
    width: calc(100% - 190px - 5px);
 
    padding: 15px;
 
    background: rgba(255,255,255,0.6);
}
ol {
    list-style: none;
}
 
.板块信息 {
    margin: 5px auto;
    padding: 10px;
    min-height: 200px;
    background: rgba(255,255,255,0.7);
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.板块名称 {
	font-size: 22px;
    text-align: center;
}
.版主 {
    font-size: 12px;
    text-align: right;
}
.板块说明 {
    padding: 10px;
    text-indent: 2em;
 
    font-size: 18px;
}
.查看详情 {
    display: block;
    margin: 10px auto 0 auto;
    /*border: 2px solid black;*/
 
    align-items: center;
    text-align: center;
    color: black;
 
    user-select: none;
    cursor: pointer;
}
.查看详情 a {
    color: black;
    text-decoration: none;
 
    font-size: 13px;
}
 
.点击 {
    display: flex;
    justify-content: right;
    text-align: center;
    font-size: 10px;
}
.数量 {
    margin: 0px 10px 0 0;
}
.小标题{
	font-size: 20px;
}
.图片{
	overflow: clip;
}
.署名{
	font-size: 16px;
	text-align: center;
}
.发帖{
	width: 100%;
	height: 10px;
	
	position: absolute;
	bottom: 30px;
	left: 350px;
}